<div ng-include="'navbar.html'"></div>

<div ng-include="'profile.html'"></div>

<div class="user-info">
<% if @user.id %>

 Session ID is <%= @user.id %>

    Name: <%= @user.first_name %> <%= @user.last_name %> <br>
    Age: <%= @user.age %> <br>
    Username: <%= @user.username %> <br>
    Email: <%= @user.email %> <br>
  </div>

<% end %>

<a ui-sref="new-game"></a>

</div>

<div ng-include="'footer.html'"></div>