
<div class="all-content">

  <div class="welcome-intro">
  <%= session.id %>
    <% if session != nil %>
    <%= @user %>
     User is:  <%= session[:current_user_id] %>, <%= session[:id] %>, <%= session %>
    <% else %>
    Log in or sign up!
    <% end %>
  </div>

  <div class="section-wrapper" ng-hide="openLocationReq == true">
    <div class="bubble">
      <div class="bubble-content">
        <ul>Here is how to play:
        <p>
          <li> Click on "Find a Game" to view the list of proposed games in your area.
          <li> Select the most inviting game and view details.
          <li> Select your top 3 from the list of available tennis courts in the area in game detail section.
          <li> Select a preferred time window.
          <li> Send an email/comment on the game's wall to inform the host. This will include your selected preferences.
          <li> Wait for host's approval. Time and location will be sent via email to both parties based on matching preferences.
          <li> Once the game has ended, each player should record the scores on the game's wall. <br>
            <input type="button" class="btn-success find-game-btn" value="Find a game" ng-click="reloadRoute('/games/new')">
        </p>
      </div>
    </div>
  </div>

</div>