<div class="content-container" ng-app="myApp" ng-controller="MainCtrl" ng-init="lower = true">

<div class="waiting"><h2> They are waiting on you! </h2></div>

<div class="cannot-find">Can't find a game in your area?</div>
  <div class="other-linx start-game"><a href="#" ng-click="reloadRoute('games/new')">Start a game</a></div>
  <div class="other-linx return-home"><a href="#" ng-click="reloadRoute('/')">Return Home</a></div>


<div class="table-map">

<div class="table-responsive col-xs-12 col-sm-6 col-md-8">
  <table class="table">

    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td><div class="game-title" ng-click="reloadRoute('/games/<%=game.id %>')"><%=  game.title %> </div><br>
            <div class="game-description"><%= game.description %></div>
          </td>
            <td>by: </td>

          <td class="game-edit-delete"><%= link_to 'Edit', edit_game_path(game) %> | <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table></div>

  <div id="map"></div>
</div> <!-- table-map -->

<br>

</div>

<script>
function initMap() {
  console.log("inside init map");
  var map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: -34.397, lng: 150.644},
    zoom: 6
  });
  var infoWindow = new google.maps.InfoWindow({map: map});

  // Try HTML5 geolocation.
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
        lat: position.coords.latitude,
        lng: position.coords.longitude
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent('Location found.');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
  } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
  }
}

function handleLocationError(browserHasGeolocation, infoWindow, pos) {
  infoWindow.setPosition(pos);
  infoWindow.setContent(browserHasGeolocation ?
                        'Error: The Geolocation service failed.' :
                        'Error: Your browser doesn\'t support geolocation.');
}
</script>