<div class="content-container" ng-app="myApp" ng-controller="MainCtrl">

  <div class="game-detail-wrapper">
    <div class="game-detail-section">
      <div class="game-detail-head">
        <div class="player-img"></div>
        <div class="title"><%= @game.title %></div>
        <div class="potential-img"></div>
      </div>

      <div class="game-detail-body">
        <div class="left">
          <div class="info">
            <span class="label"> Player: </span><br> <%= @user_game.first_name %>  <%= @user_game.last_name %><br>
            <span class="label">Description: </span><br> <%= @game.description %><br>
            <span class="label">Date created: </span><br> <%= @game.created_at.strftime('%m/%d/%Y') %><br>
          </div>
          <div class="score">
            <strong>Scores:</strong><br>
            First game: N/A<br>
            Second game: N/A<br>
            Third game: N/A<br>
            Total score: <%= @game.score %> <br>
            Winner : N/A <br>
            <button class="btn-success" class="add-score">Add new score</button>
          </div>
        </div>
        <div class="middle">
          <div class="location-img"></div>
          <div class="suggested-locs"></div>
        </div>
        <div class="right">
          <div class="comms">
            <strong>Comments</strong>
            <% @game.comments.each do |comment| %>
              <p>
                <%= comment.body %> <br>
                <div class="commenter"> by: <%= comment.commenter %>, at: <%= comment.created_at.strftime('%m/%d/%Y') %>
                <a data-confirm="Are you sure?" data-method="delete" href="/games/<%= @game.id %>/comments/<%=comment.id%>" rel="nofollow">Delete</a> </div>
                <hr>
              </p>
            <% end %>
          </div>
          <div class="new-comms ">
            <p>Let them know you want to play:</p>
            <%= form_for([@game, @game.comments.build]) do |f| %>
              <div class="field">
                <%= f.text_area :body %>
              </div>
              <div class="field">
                your name : <%= f.text_field :commenter %>
              </div>
              <div class="actions">
                <%= f.submit %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>



  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>

  <!-- </div> -->
</div>