<div class="content-container" ng-app="myApp" ng-controller="MainCtrl">

  <div class="game-detail-wrapper">
    <div class="game-detail-section">
      <div class="game-detail-head"> 
        <div class="player-img">
        </div>
        <div class="title"><%= @game.title %></div>
        <div class="potential-img"></div>
      </div>

      <div class="game-detail-body">
        <div class="left">
          <div class="info">
            <strong>Details</strong><br>
            <%= @game.description %><br>
            <% if @game.user_id != nil %>
              by: <%= @user_game.first_name %> <%= @user_game.last_name %><br>
              created on: <%= @game.created_at.strftime('%m/%d/%Y') %>
            <% else %>
              by: anonymous
            <% end %>
            <hr class="gd-hr">
          </div>
          <div class="score">
            <strong>Scores</strong><br>
            <table ng-show="scoreAdded == true" class="score-game">
              <thead>
                <th>Game Rounds</th>
                <th>Player 1</th>
                <th>Player 2</th>
              </thead>
              <tbody>
                <tr>
                  <td>First Game:</td>
                  <td>{{ score.player_1.first }}</td>
                  <td>{{ score.player_2.first }}</td>
                </tr>
                <tr>
                  <td>Second Game:</td>
                  <td>{{ score.player_1.second }}</td>
                  <td>{{ score.player_2.second }}</td>
                </tr>
                <tr>
                  <td>Third Game:</td>
                  <td>{{ score.player_1.third }}</td>
                  <td>{{ score.player_2.third }}</td>
                </tr>
                <tr>
                  <td>Total:</td>
                  <td>{{ score.player_1.total }}</td>
                  <td>{{ score.player_2.total }}</td>
                </tr>
                <tr>
                  <td>Winner:</td>
                  <td colspan="2">{{ score.winner }}</td>
                </tr>
              </tbody>
              <!--
              <span class="game-detail-label"> First game: Player 1: {{ score.player_1.first }} - Player 2: {{ score.player_2.first }} </span><br>
              <span class="game-detail-label">Second game: Player 1: {{ score.player_1.second }} - Player 2: {{ score.player_2.second }} </span><br>
              <span class="game-detail-label">Third game:Player 1: {{ score.player_1.third }} - Player 2: {{ score.player_2.third }} </span><br>
              <span class="game-detail-label">Total scores:</span>
              Player 1: {{ score.player_1.total }} - Player 2: {{ score.player_2.total }} </span><br>
               <%= @game.score %> <br>
              <span class="game-detail-label">Winner: </span>  
              {{ score.winner }} <br> 
            -->
            </table> <!-- score-game -->
            
            <button ng-click="openScoreBox = true;" ng-hide="openScoreBox == true" class="btn-success add-score">Add new score</button>
            <div class="score-form" ng-show="openScoreBox == true" style="margin-left: 20%">
            <form 
            name="scoreForm" ng-show="openScoreBox == true" ng-hide="scoreAdded == true" style="width: 100px; height: 100px; display: inline" novalidate>
              First: <br>
              <input type="text" ng-model="score.player_1.first" placeholder="Player 1"></input> - <input type="text" ng-model="score.player_2.first" placeholder="Player 2"></input> <br> 
              Second: <br>
              <input type="text" placeholder="Player 1" ng-model="score.player_1.second"></input> - <input type="text" placeholder="Player 2" ng-model="score.player_2.second"></input> <br>
              Third: <br>
              <input type="text" placeholder="Player 1" ng-model="score.player_1.third"></input> - <input type="text" placeholder="Player 2" ng-model="score.player_2.third"></input> <br>
              <button ng-click="addScore(); scoreAdded = true" ng-hide="scoreAdded == true" class="btn-success">Save score</button>
            </form>
          </div> <!-- score-form -->
          </div> <!-- score -->
        </div> <!-- left -->
        <div class="middle">
          <div class="location-img">
            <div id="showmap"><div class="display-map" ng-click="initialize(<%= @coords %>); hideNow = true" ng-hide="hideNow == true">Display map</div></div>
          </div>
          <div class="suggested-locs">coordinates: <br>
           <%= @game.coordinates %><br>
          </div>
        </div>
        <div class="right">
          <div class="comms">
            <strong>Comments</strong>
            <% @game.comments.each do |comment| %>
              <p>
                <%= comment.body %> <br>
                <div class="commenter"> by: <%= comment.commenter %>, at: <%= comment.created_at.strftime('%m/%d/%Y') %> - 
                <a data-confirm="Are you sure?" data-method="delete" href="/games/<%= @game.id %>/comments/<%=comment.id%>" rel="nofollow">Delete</a> </div>
              </p>
            <% end %>
            <hr class="gd-hr">
          </div>
          <div class="new-comms ">
            <p>Let them know you want to play:</p>
            <%= form_for([@game, @game.comments.build]) do |f| %>
              <div class="field">
                <%= f.text_area :body %>
              </div>
              <span class="field">
                your name : <br>
                <%= f.text_field :commenter %>
              </span>
              <span class="actions">
                <!--<%= f.submit %>-->
                <button class="btn-success">Add</button>
                <!-- <input type="submit" name="commit" value="Add"> </input> -->
              </span>
            <% end %>
          </div>
        </div>
      </div>
  </div>


  <div class="edit-back">
    <%= link_to 'Edit', edit_game_path(@game) %> |
    <a href="#" ng-click="reloadRoute('/games')">Back</a>
  </div>
</div>


<script>
  function initialize(coor) {
    var coords = [40.78694, -73.97528];
    console.log('inside initMap in show page');
    console.log(coords);
    console.log('real coords are ', coor);
    var uluru = {lat: coords[0], lng: coords[1]};
    // var uluru = {lat: -25.363, lng: 131.044};
    var map = new google.maps.Map(document.getElementById('showmap'), {
      // zoom: 4,
      zoom: 14,
      center: uluru
    });
    var marker = new google.maps.Marker({
      position: uluru,
      map: map
    });
  }
</script>