<!DOCTYPE html>
<html>
<head>
  <title>Tennis Buddy</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="../../../app/assets/stylesheets/bootstrap.css">
</head>
<body ng-app="myApp" ng-controller="MainCtrl">

  <nav class="navbar navbar-default navwrap">
  <div class="container-fluid">
    <div class="navbar-header">
        <a class="navbar-brand" ui-sref="home">
          <%= image_tag("logo.png") %>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="navlinx"><a ng-click="showLogin = true" href="#"> {{ intro}} Login</a></li>
        <li class="navlinx"><a href="#">Signup</a></li>
        <li class="navlinx"><a href="#">Baller Zone</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<%= yield %>


<footer>
    Copyright 2016
</footer>


<!-- <script src="../../../app/assets/javascripts/ng/ngApp.js"></script> -->
</body>
</html>