
<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-resource.min.js"></script>
  <title>Tennis Buddy</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "angular" %>
  <%= javascript_include_tag "app" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="../../../favicon.ico?v=2" />
  <link href="../../../app/assets/stylesheets/bootstrap.css">
</head>
<body class="page-body" ng-app="myApp" ng-controller="MainCtrl">
  <main class="body-inner-wrap" >

  <nav class="navbar navbar-default navwrap navbar-fixed-top" ng-init="showProfile = false; showLogin = false; showSignup = false;">
  <div class="container-fluid">
    <div class="navbar-header">

        <a class="navbar-brand" ng-click="reloadRoute('/')">
          <%= image_tag("tb.png") %>
        </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">
        <li class="navlinx"><a href="#" ng-click="reloadRoute('/games/new')">Start a game</a></li>
        <li class="navlinx"><a href="#" ng-click="reloadRoute('/games')">Find a game</a></li>

          <li ng-if="<%= session.id != nil %>" class="navlinx"><a style="margin-top: 15px !important;" ng-click="showLogin = !showLogin; showSignup = false; showProfile = false" href="#">Login</a></li>
          <li ng-if="<%= session.id == nil %>" class="navlinx"><a style="margin-top: 15px !important;" ng-click="showSignup = !showSignup; showLogin = false; ; showProfile = false" href="#">Signup</a></li>

          <li ng-if="<%= session.id != nil %>" class="navlinx"><a style="margin-top: 15px !important;"><%= button_to 'Logout', logout_path, :method => :delete %></a></li>

          <li class="navlinx"><a ng-click="showProfile = !showProfile; showLogin = false; showSignup = false" href="#">My profile</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="login-box" ng-if="showLogin == true">

  <form action="/login" method="post">
    <p style="font-size: 25px">Log In</p>
    <hr>
    <p class="labels"><input type="text" name="email" placeholder="email"></input></p>
    <p class="labels"><input type="password" name="password" placeholder="password"></input></p>
    <button class="btn-success" ng-click="login()">Log in</button>
  </form>

</div>

<!-- <div class="logout-box" ng-if="showLogout == true">

  <form action="/logout" method="get">
    <p style="font-size: 25px">Log Out</p>
    <hr>
    <button class="btn-danger" ng-click="logout()">Log out</button>
  </form>

</div> -->


<div class="signup-box" ng-if="showSignup == true">

  <form class="signup-form" action="/users" method="post">
    <p style="font-size: 25px">Create an account</p>
    <hr>
    <div class="first-col">
      <p class="labels"><input type="text" name="user[email]" placeholder="email/login"></input></p>
      <p class="labels"><input type="password" name="user[password]" placeholder="password"></input></p>
      <p class="labels"><input type="password" name="user[password_confirmation]" placeholder="password confirmation"></input></p>
      <p class="labels"><input type="text" name="user[first_name]" placeholder="first name"></input></p>
      <p class="labels"><input type="text" name="user[last_name]" placeholder="last name"></input></p>
    </div>
    <div class="second-col">
      <p class="labels"><input type="text" name="user[age]" placeholder="age"></input></p>
      <p class="labels"><input style="height: 100px" name="user[description]" type="text" placeholder="about you"></input></p>
    </div>

    <button class="btn-success" ng-click="login()">Sign up</button>
  </form>

</div>

<div class="profile-box" ng-if="showProfile == true">
  <div class="profile-wrapper">
  <div class="profile-top">
    Johnny B. Goode
  </div>

  <div class="profile-main">
    <div class="pm-left">
      <div class="content-header">Personal Info:</div>
        <span class="user-label">nickname:</span> Jon <br>
        <span class="user-label">member since: </span> 2016 <br>
        <span class="user-label">age: </span> 27 <br>
        <span class="user-label">description: </span> blablablab <br>

    </div>
    <div class="pm-center">
      <div class="user-photo"></div>
      <div class="message-link">
        <button class="btn-success" ng-click="sendMessage()">Send a message</button>
      </div>

    </div>
    <div class="pm-right">
      <div class="player-info">
        <div class="content-header">Player Info:</div>
          <span class="user-label">games played: </span> 9 <br>
          <span class="user-label">games won: </span> 4 <br>
          <span class="user-label">best score: </span> 8-1 <br>
      </div>
      <div class="play-buttons">
        <div class="looking-to-play" ng-show="lookingToPlay = true">Looking to Play</div>
        <div class="not-looking-to-play" ng-show="lookingToPlay = false">Not Looking to Play</div>
      </div>

    </div>

  </div>
  </div>

</div>

<div class="logged-box">
<% if session.id %>
  Signed in as <%= session.id %>, <%= @user %>, 
<% end %>
</div>

<%= yield %>


<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script> -->
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5TZNWeG6UJI4Gw8fTsaaHkd3rV7Qy5p8&callback=initMap">
</script>


<footer ng-class="{ 'lower-footer': lower}">
    Copyright 2016
</footer>

</main><!--body-inner-wrap-->
</body>
</html>

